<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestao_Frotas_Desktop.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=den1.mssql2.gear.host;Password=Jr9H2VU!r?gB;User ID=gestaofrotas;Initial Catalog=gestaofrotas"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>